


/************************************* Desctop Version ***************************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);

$font: "Roboto", sans-serif;
$black-color: #333333;
$blue-color: #366cf7;
$white-color: #fff;
$gray-color: #777777;
$red-color: #ff1e6c;
$black-transparant: rgba(0, 0, 0, 0.41);

@mixin hover{
  opacity: 0.7;
}

@mixin wrapper{
  display: block;
  margin: auto;
  width: 1170px;
}

@mixin filters{
  width: 190px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
  outline: none !important;
  border-bottom: 3px solid #f2f2f2 !important;
  color: $black-color !important;
  background-color: #fff !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  font-size: 16px !important;
  height: 35px;
  cursor: pointer !important;
  background-repeat: no-repeat !important;
}




.header{
  width: 100%;
  display: block;
  padding-bottom: 20px;

  &__wrapper{
    @include wrapper;

    &_menu{
      display: inline-block;

      &_logo{
        display: inline-block;
        margin-right: 15px;
        cursor: pointer;
      }

      &_sections{
        display: inline-block;
        margin-left: 12px;
        vertical-align: top;
        font-family: $font;
        font-size: 16px;
        font-weight: 400;
        color: $black-color;
        cursor: pointer;
        transition: .3s;
        &:hover{
          @include hover;
          transition: .3s;
        }
      }
    }

    &_account{
      display: inline-block;
      float: right;
      margin: 0 0 0 12px;
      vertical-align: top;
      font-family: $font;
      font-size: 16px;
      font-weight: 400;
      color: $black-color;

      &_button{
        display: inline-block;
        margin-left: 12px;
        vertical-align: top;
        margin-top: 6px;
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        color: $black-color;
        cursor: default;

        .info-icon{
          margin: 4px 0 0 8px;
          position: absolute;
        }
      }

      .subscription{
        margin: 6px 21px 0 0;
      }

      .credits{
        color: $blue-color;
      }

      .avatar{
        margin: 0 0 0 17px;
        transition: .3s;
        cursor: pointer;
        &:hover{
          @include hover;
          transition: .3s;
        }
      }
    }
  }
}

.photo-line{
  width:100%;
  padding: 20px 0;
  background-color: #f0f0f0;
  &__wrapper{
    @include wrapper;

    &_img{
      display: inline-block;
      vertical-align: top;
      margin: 10px 0 10px 2px;
      cursor: pointer;
    }
  }
}

.search{
  width:100%;
  padding: 20px 0;

  &__line{
    display: block;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    position: absolute;
    margin: -30px 0;
    z-index: -1;
  }

  &__wrapper{
    @include wrapper;
    &_heading{
      font-family: $font;
      font-size: 30px;
      color: $black-color;
      text-align: center;
      line-height: 40px;
      font-weight: 500;

    }

    &_filters{
      padding: 30px 0;

      .mobile-serch-filters{
        display: inline-block;
      }

      &_gender{
        @include filters;
        background-image: url("../src/dating_arrow_down.png");
        background-position: right 14px;
        height: 38px;
        margin-right: 100px;
      }

      &_city{
        @include filters;
        background-image: url("../src/dating-website-cross.png");
        background-position: right 14px;
        padding: 0;
      }

      &_button{
        padding: 16px 55px;
        border-radius: 5px;
        background: -moz-linear-gradient(-45deg, #376cf8 0%, rgba(78, 146, 255, 0.8) 100%);
        background: -webkit-linear-gradient(-45deg, #376cf8 0%,rgba(78, 146, 255, 0.8) 100%);
        background: linear-gradient(135deg, #376cf8 0%,rgba(78, 146, 255, 0.8) 100%);
        color: $white-color;
        font-family: $font;
        font-size: 14px;
        float: right;
        transition: 1s;
        cursor: pointer;
        &:hover{
          transition: 1s;
          background:linear-gradient(135deg, #376cf8 0%,#376cf8 100%);
        }

      }
    }

    &_expanded{
      font-family: Roboto, sans-serif;
      font-size: 16px;
      text-align: center;
      margin: auto;
      width: 200px;
      padding: 20px 20px;
      background-color: #fff;
      z-index: 10;

      &_arrow{
        margin: 0 0 0 20px;
      }
    }


  }
}

.online{
  width:100%;
  background-color: #f0f0f0;
  padding: 40px 0;

  &__wrapper{

    @include wrapper;

    &_options{
      display: inline-flex;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      border: 1px solid $blue-color;
      border-radius: 5px;
      color: $blue-color;
      margin: 0 0 40px 19px;
      cursor: pointer;
      &_active{
        padding: 3px 27px;
        &:hover{
          opacity: .8;
        }
      }
      &_new{
        padding: 3px 27px;
        border-left: 1px solid;
        border-right: 1px solid;

        &:hover{
          opacity: .8;
        }

      }
      &_popular{
        padding: 3px 24px;
        &:hover{
          opacity: .8;
        }
      }
    }

    .slider{

      &__slide{
        display: inline-block;
        border-radius: 10px;

        &_profile{
          width: 270px;
          border-radius: 10px;
          display: inline-block;
          box-shadow: 0 1px 5px 2px #d7d7d7;
          margin: 0 0 20px 20px;

          .absolute{
            .profile-photos{
              display: block;
              background: rgba(0, 0, 0, 0.41);
              border-radius: 6px;
              padding: 6px 10px;
              margin-top: 20px;
              margin-left: 17px;
              min-width: 38px;
              transition: .3s;
              &:hover{
                background: rgba(10, 10, 10, 0.76);
                transition: .3s;
              }

              &__icon{
                max-width: 100%;
                display: inline-flex;
                margin: 0 6px 0 0;
              }
              &__number{
                display: inline-flex;
                vertical-align: top;
                color: #fff;
                font-size: 14px;
                font-family: $font;
                padding: 0;
                margin: 0;
              }

            }
            .profile-rating{
              position: absolute;
              background: $red-color;
              border-radius: 6px;
              padding: 6px 10px;
              top: 20px;
              left: 200px;
              min-width: 30px;
              font-size: 14px;
              font-family: $font;
              color: $white-color;
              margin: 0;
            }
          }

          &_action{
            background: -moz-linear-gradient(-45deg, #376cf8 0%, #4e92ff 100%);
            background: -webkit-linear-gradient(-45deg, #376cf8 0%,#4e92ff 100%);
            background: linear-gradient(135deg, #376cf8 0%,#4e92ff 100%);

            .favorite{
              display: inline-flex;
              width: 50%;
              transition: .4s;
              &:hover{
                background-color: $blue-color;
                transition: .4s;
              }

              &__content{
                color: #fff;
                font-size: 14px;
                font-family: $font;
                display: inline-block;
                vertical-align: top;
                padding: 15px 15px 15px 15px;

                .star{
                  display: inline-block;
                  margin: 0 6px 0 0;
                  width: 19px;
                  height: 18px;
                  background-image: url("../src/dating-empty-star-icon.png");

                }
                .mail{
                  display: inline-block;
                  margin: 0 6px 0 0;

                }

                .send{
                  line-height: 16px;
                  vertical-align: top;
                }
                .selected{
                  line-height: 20px;
                  vertical-align: top;
                }

              }

            }
            .message{
              display: inline-flex;
              width: 48%;
              border-left: 1px solid #7aa4fc;
              transition: .2s;
              padding: 2px;
              &:hover{
                background-color: $blue-color;
                transition: .2s;
              }
            }
          }

          &_details{
            .name-age{
              padding: 0 0 0 20px;
              font-size: 18px;
              font-family: $font;
              color: $blue-color;
              margin: 12px 0 6px 0;
              display: inline-flex;
            }

            .online-indicator{
              display: inline-flex;
              vertical-align: top;
              height: 10px;
              width: 10px;
              background: #01f501;
              border-radius: 50%;
              margin: 20px 0 0 10px;
            }

            .city-country{
              padding: 0 0 0 20px;
              font-size: 14px;
              font-family: $font;
              color: $black-color;
              margin: 0 0 12px 0;
            }
          }
        }
      }

    }

    .bx-pager{
      margin: auto;
      width: 360px;
      &__wrapper{
        list-style-type: none;
        display: inline-flex;
        padding: 13px 44px;
        border-radius: 5px;
        background: #fff;
        &_page{
          &_number{
            padding: 7px 13px;
            font-family: Roboto, sans-serif;
            color: #c0c0c0;
            font-size: 16px;
            margin-right: 10px;
            border-radius: 5px;
            text-decoration: none;
          }
        }
      }
    }

    .bx-wrapper{
      box-shadow: none !important;
      border: none;
      background-color: #f0f0f0;
      margin-bottom: 0;
    }
  }
}

.footer {
  width: 100%;
  display: block;
  padding-bottom: 20px;

  &__wrapper {
    @include wrapper;

    &_menu {
      display: inline-block;

      &_sections {
        display: inline-block;
        margin-right: 50px;
        vertical-align: top;
        margin-top: 6px;
        font-family: $font;
        font-size: 14px;
        font-weight: 500;
        color: #777777;
        cursor: pointer;
        transition: .3s;
        &:hover{
          transition: .3s;
          color: #333333;
        }
      }

    }

    &_copy{
      font-family: $font;
      font-size: 12px;
      font-weight: 300;
      color: #777777;
    }
  }
}

ul{
  padding: 0;
}

.absolute{
  position: absolute;
}

.bx-loading{
  display: none !important;
}

.active{
  background-color: $blue-color;
  color: $white-color !important;
}

.bx-viewport{
  height: auto !important;
}

.bx-controls{
  position: absolute;
  .bx-controls-direction{
    position: absolute;
    left: 578px;
    top: 40px;

    .bx-prev{
      background: url("../src/arrow-gray.png");
      background-repeat: no-repeat;
      background-position: center!important;
      left: -166px;
      &:hover{
        background-position: center;
      }
    }

    .bx-next{
      background: url("../src/arrow-gray.png");
      background-repeat: no-repeat;
      background-position: center!important;
      transform: rotate(180deg);
      left: 144px;
      text-indent: 0;
      color: transparent;
      &:hover{
        background-position: center;
      }
    }
  }
}

.active-option-button{
  background: $blue-color;
  color: $white-color;
}

.inactive-option-button{
  background: $white-color;
  color: $blue-color;
}

body{
  cursor: default;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.mobile-menu-wrapper{
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 0;
}

.gold-star{
  background-image: url("../src/dating-gold-star.png")!important;
}

.arrow-top{
  bottom: 270px;
  right: 50px;
  position: fixed;
  display: none;
}




/************************************* Responsive Mode Tablet  ***************************************************/



@media screen and (max-width: 1170px) and (min-width: 600px) {

  @mixin wrapper{
    display: block;
    width: 100%;
  }

  .header{
    &__wrapper{
      @include wrapper;

      &_menu{
        display: inline-block;
        padding: 0 0 0 20px;

        &_sections{
          display: block;
          padding: 7px 0;
        }

        &_logo{
          vertical-align: top;

        }

        .mobile-menu-wrapper{
          width: 40px;
          height: 40px;
          background-image: url("../src/dating_arrow_down.png");
          display: inline-block;
          background-repeat: no-repeat;
          background-position: center;
          margin: -3px 0 0 -18px;

          &:active .mobile-dropdown{
            display: block;
            transition: 9s;
          }

          &:hover .mobile-dropdown{
            display: block;
            transition: 9s;
          }

          .mobile-dropdown{
            display: none;
            width: 200px;
            margin: 40px 0 0 13px;
            transition: 9s;
            background-color: $white-color;
            border-radius: 5px;
            box-shadow: 0px 0px 9px 3px #f2f2f2;
            padding:10px;
            z-index: 200;
            position: relative;
          }
        }
      }

      &_account{
        padding: 0 20px 0 0;
      }
    }
  }

  .photo-line{
    width:100%;
    padding: 20px 0;
    background-color: #f0f0f0;
    &__wrapper{
      @include wrapper;

      .mobile-photo-line{
        display: block;
        padding: 0 20px;
        text-align: center;
        margin: auto;
        width: fit-content;
      }

      &_img{
        display: inline-block;
        vertical-align: top;
        margin: 10px 2px 0 2px;
        cursor: pointer;
        max-width: 100px;


      }

    }
  }

  .search{
    width:100%;
    padding: 20px 0;

    &__line{
      display: block;
      border-bottom: 1px solid #dcdcdc;
      width: 100%;
      position: absolute;
      margin: -30px 0;
      z-index: -1;
    }

    &__wrapper{
      @include wrapper;

      &_heading{
        font-family: $font;
        font-size: 30px;
        color: $black-color;
        text-align: center;
        line-height: 40px;
        font-weight: 500;

      }

      &_filters{
        padding: 30px 20px;

        .mobile-serch-filters{
          display: block;
          margin: auto;
          width: fit-content;
        }

        &_gender{
          @include filters;
          background-image: url("../src/dating_arrow_down.png");
          background-position: right 14px;
          height: 38px;
          margin-right: 100px;
        }

        &_city{
          @include filters;
          padding: 0;
        }

        &_button{
          padding: 16px 55px;
          border-radius: 5px;
          background: -moz-linear-gradient(-45deg, #376cf8 0%, rgba(78, 146, 255, 0.8) 100%);
          background: -webkit-linear-gradient(-45deg, #376cf8 0%,rgba(78, 146, 255, 0.8) 100%);
          background: linear-gradient(135deg, #376cf8 0%,rgba(78, 146, 255, 0.8) 100%);
          color: $white-color;
          font-family: $font;
          font-size: 14px;
          transition: 1s;
          cursor: pointer;
          display: block;
          margin: 30px auto;
          float: none;
          width: 135px;
          text-align: center;
          &:hover{
            transition: 1s;
            background:linear-gradient(135deg, #376cf8 0%,#376cf8 100%);
          }
          &:active{
            transition: 1s;
            background:linear-gradient(135deg, #376cf8 0%,#376cf8 100%);
          }

        }
      }

      &_expanded{
        font-family: Roboto, sans-serif;
        font-size: 16px;
        text-align: center;
        margin: auto;
        width: 200px;
        padding: 20px 20px;
        background-color: #fff;
        z-index: 10;

        &_arrow{
          margin: 0 0 0 20px;
        }
      }


    }
  }

  .online{
    width:100%;
    background-color: #f0f0f0;
    padding: 40px 0;

    &__wrapper{

      @include wrapper;

      &_options{
        display: inline-flex;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        border: 1px solid $blue-color;
        border-radius: 5px;
        color: $blue-color;
        margin: 0 0 40px 19px;
        cursor: pointer;
        &_active{
          padding: 3px 27px;
          &:hover{
            opacity: .8;
          }
        }
        &_new{
          padding: 3px 27px;
          border-left: 1px solid;
          border-right: 1px solid;

          &:hover{
            opacity: .8;
          }
        }
        &_popular{
          padding: 3px 24px;
          &:hover{
            opacity: .8;
          }
        }
      }

      .slider{

        &__slide{
          display: inline-block;
          border-radius: 10px;

          .slide-wrapper{
            display: block;
            margin: auto;
            text-align: center;
          }

          &_profile{
            width: 270px;
            border-radius: 10px;
            display: inline-block;
            box-shadow: 0 1px 5px 2px #d7d7d7;
            margin: 0 7px 20px 7px;

            .absolute{
              .profile-photos{
                display: block;
                background: rgba(0, 0, 0, 0.41);
                border-radius: 6px;
                padding: 6px 10px;
                margin-top: 20px;
                margin-left: 17px;
                min-width: 38px;
                transition: .3s;
                &:hover{
                  background: rgba(10, 10, 10, 0.76);
                  transition: .3s;
                }

                &__icon{
                  max-width: 100%;
                  display: inline-flex;
                  margin: 0 6px 0 0;
                }
                &__number{
                  display: inline-flex;
                  vertical-align: top;
                  color: #fff;
                  font-size: 14px;
                  font-family: $font;
                  padding: 0;
                  margin: 0;
                }

              }
              .profile-rating{
                position: absolute;
                background: $red-color;
                border-radius: 6px;
                padding: 6px 10px;
                top: 20px;
                left: 200px;
                min-width: 30px;
                font-size: 14px;
                font-family: $font;
                color: $white-color;
                margin: 0;
              }
            }

            &_action{
              background: -moz-linear-gradient(-45deg, #376cf8 0%, #4e92ff 100%);
              background: -webkit-linear-gradient(-45deg, #376cf8 0%,#4e92ff 100%);
              background: linear-gradient(135deg, #376cf8 0%,#4e92ff 100%);

              .favorite{
                display: inline-flex;
                width: 50%;
                transition: .4s;
                &:hover{
                  background-color: $blue-color;
                  transition: .4s;
                }

                &__content{
                  color: #fff;
                  font-size: 14px;
                  font-family: $font;
                  display: inline-block;
                  vertical-align: top;
                  padding: 15px 15px 15px 15px;

                  .star{
                    display: inline-block;
                    margin: 0 6px 0 0;

                  }
                  .mail{
                    display: inline-block;
                    margin: 0 6px 0 0;

                  }

                  .send{
                    line-height: 16px;
                    vertical-align: top;
                  }
                  .selected{
                    line-height: 20px;
                    vertical-align: top;
                  }

                }

              }
              .message{
                display: inline-flex;
                width: 48%;
                border-left: 1px solid #7aa4fc;
                transition: .2s;
                padding: 2px;
                &:hover{
                  background-color: $blue-color;
                  transition: .2s;
                }
              }
            }

            &_details{
              text-align: left !important;
              .name-age{
                padding: 0 0 0 20px;
                font-size: 18px;
                font-family: $font;
                color: $blue-color;
                margin: 12px 0 6px 0;
                display: inline-flex;

              }

              .online-indicator{
                display: inline-flex;
                vertical-align: top;
                height: 10px;
                width: 10px;
                background: #01f501;
                border-radius: 50%;
                margin: 20px 0 0 10px;
              }

              .city-country{
                padding: 0 0 0 20px;
                font-size: 14px;
                font-family: $font;
                color: $black-color;
                margin: 0 0 12px 0;
              }
            }
          }
        }
      }

      .bx-pager{
        margin: auto;
        width: 300px;

        &__wrapper{

          list-style-type: none;
          display: inline-flex;
          padding: 13px 13px;
          border-radius: 5px;
          background: #fff;
          &_page{

            &_number{
              padding: 7px 13px;
              font-family: Roboto, sans-serif;
              color: #c0c0c0;
              font-size: 16px;
              margin: 0 5px 0 5px;
              border-radius: 5px;
              text-decoration: none;
            }
          }
        }
      }

      .bx-wrapper{
        box-shadow: none !important;
        border: none;
        background-color: #f0f0f0;
        margin-bottom: 0;
      }
    }
  }

  .footer {
    width: 100%;
    display: block;
    padding-bottom: 20px;

    &__wrapper {
      @include wrapper;

      &_menu {
        display: inline-block;
        padding:0 20px;

        &_sections {
          display: inline-block;
          margin-right: 50px;
          vertical-align: top;
          margin-top: 6px;
          font-family: $font;
          font-size: 14px;
          font-weight: 500;
          color: #777777;
          cursor: pointer;
          transition: .3s;
          &:hover{
            transition: .3s;
            color: #333333;
          }
        }

      }

      &_copy{
        font-family: $font;
        font-size: 12px;
        font-weight: 300;
        color: #777777;
        padding:0 20px;
      }
    }
  }

  .bx-controls-direction{
    display: none !important;
  }

  .bx-viewport{
    height: auto !important;
  }

  #ranged-value{
    padding: 32px 0 10px 0;
    display: block !important;
    margin: 0 !important;
    &:before{
      margin: -20px 0 0 0px !important;
      font-size: 12px;
      color: gray;
    }
  }
}



/************************************* Responsive Mode Mobile  ***************************************************/



@media screen and (max-width: 599px) and (min-width: 320px) {

  @mixin wrapper{
    display: block;
    width: 100%;
  }

  .header{
    &__wrapper{
      @include wrapper;

      &_menu{
        display: inline-block;
        padding: 0 0 0 20px;

        &_sections{
          display: block;
          padding: 7px 0;
        }

        &_logo{
          vertical-align: top;
          .logo{
            margin-top: 6px;
            width: 130px;
          }
        }

        .mobile-menu-wrapper{
          width: 40px;
          height: 40px;
          background-image: url("../src/dating_arrow_down.png");
          display: inline-block;
          background-repeat: no-repeat;
          background-position: center;
          margin: -3px 0 0 -18px;

          &:active .mobile-dropdown{
            display: block;
            transition: 9s;
          }

          &:hover .mobile-dropdown{
            display: block;
            transition: 9s;
          }

          .mobile-dropdown{
            display: none;
            width: 200px;
            margin: 40px 0 0 -100px;
            transition: 9s;
            background-color: $white-color;
            border-radius: 5px;
            box-shadow: 0px 0px 9px 3px #f2f2f2;
            padding:10px;
            z-index: 200;
            position: relative;
          }
        }
      }

      &_account{
        padding: 0 20px 0 0;
        &_button{

          .info-icon{
            display: none;
          }
        }

        .subscription{
          display: none;
        }

        .credits{
         display: none;
        }
      }
    }
  }

  .photo-line{
    width:100%;
    padding: 20px 0;
    background-color: #f0f0f0;
    &__wrapper{
      @include wrapper;

      .mobile-photo-line{
        display: block;
        text-align: center;
        margin: auto;
      }

      &_img{
        display: inline-block;
        vertical-align: top;
        margin: 10px 2px 0 2px;
        cursor: pointer;
        width: 100px;

      }

    }
  }

  .search{

    &__wrapper{
      @include wrapper;

      &_filters{
        padding: 0 20px;

        .mobile-serch-filters{
          display: block;
          margin: auto;
          width: 200px;
        }

        &_gender{
          @include filters;
          margin: 15px 0;
          display: block;
        }

        &_city{
          @include filters;
          padding: 0;
          display: block;
        }

        &_button{
          display: block;
          margin: 30px auto;
          float: none;
          width: 135px;
          text-align: center;
        }
      }
    }
  }

  .online{
    width:100%;
    background-color: #f0f0f0;
    padding: 20px 0 40px 0;

    &__wrapper{

      @include wrapper;

      &_options{
        display: flex;
        width: 263px;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        border: 1px solid #366cf7;
        border-radius: 5px;
        color: #366cf7;
        margin: 20px auto;
        cursor: pointer;
        &_active{
          padding: 3px 10px;
          &:hover{
            opacity: .8;
          }
        }
        &_new{
          padding: 3px 10px;
          border-left: 1px solid;
          border-right: 1px solid;

          &:hover{
            opacity: .8;
          }

        }
        &_popular{
          padding: 3px 10px;
          &:hover{
            opacity: .8;
          }
        }
      }

      .slider{

        &__slide{
          display: inline-block;
          border-radius: 10px;

          .slide-wrapper{
            display: block;
            margin: auto;
            text-align: center;
          }

          &_profile{
            width: 270px;
            border-radius: 10px;
            display: inline-block;
            box-shadow: 0 1px 5px 2px #d7d7d7;
            margin: 0 7px 20px 7px;

            .absolute{
              .profile-photos{
                display: block;
                background: rgba(0, 0, 0, 0.41);
                border-radius: 6px;
                padding: 6px 10px;
                margin-top: 20px;
                margin-left: 17px;
                min-width: 38px;
                transition: .3s;
                &:hover{
                  background: rgba(10, 10, 10, 0.76);
                  transition: .3s;
                }

                &__icon{
                  max-width: 100%;
                  display: inline-flex;
                  margin: 0 6px 0 0;
                }
                &__number{
                  display: inline-flex;
                  vertical-align: top;
                  color: #fff;
                  font-size: 14px;
                  font-family: $font;
                  padding: 0;
                  margin: 0;
                }

              }
              .profile-rating{
                position: absolute;
                background: $red-color;
                border-radius: 6px;
                padding: 6px 10px;
                top: 20px;
                left: 200px;
                min-width: 30px;
                font-size: 14px;
                font-family: $font;
                color: $white-color;
                margin: 0;
              }
            }

            &_action{
              background: -moz-linear-gradient(-45deg, #376cf8 0%, #4e92ff 100%);
              background: -webkit-linear-gradient(-45deg, #376cf8 0%,#4e92ff 100%);
              background: linear-gradient(135deg, #376cf8 0%,#4e92ff 100%);

              .favorite{
                display: inline-flex;
                width: 50%;
                transition: .4s;
                &:hover{
                  background-color: $blue-color;
                  transition: .4s;
                }

                &__content{
                  color: #fff;
                  font-size: 14px;
                  font-family: $font;
                  display: inline-block;
                  vertical-align: top;
                  padding: 15px 15px 15px 15px;

                  .star{
                    display: inline-block;
                    margin: 0 6px 0 0;

                  }
                  .mail{
                    display: inline-block;
                    margin: 0 6px 0 0;

                  }

                  .send{
                    line-height: 16px;
                    vertical-align: top;
                  }
                  .selected{
                    line-height: 20px;
                    vertical-align: top;
                  }

                }

              }
              .message{
                display: inline-flex;
                width: 48%;
                border-left: 1px solid #7aa4fc;
                transition: .2s;
                padding: 2px;
                &:hover{
                  background-color: $blue-color;
                  transition: .2s;
                }
              }
            }

            &_details{
              text-align: left !important;
              .name-age{
                padding: 0 0 0 20px;
                font-size: 18px;
                font-family: $font;
                color: $blue-color;
                margin: 12px 0 6px 0;
                display: inline-flex;
              }

              .online-indicator{
                display: inline-flex;
                vertical-align: top;
                height: 10px;
                width: 10px;
                background: #01f501;
                border-radius: 50%;
                margin: 20px 0 0 10px;
              }

              .city-country{
                padding: 0 0 0 20px;
                font-size: 14px;
                font-family: $font;
                color: $black-color;
                margin: 0 0 12px 0;
              }
            }
          }
        }

      }

      .bx-pager{
        margin: auto;
        width: 300px;
        &__wrapper{
          list-style-type: none;
          display: inline-flex;
          padding: 13px 13px;
          border-radius: 5px;
          background: #fff;
          &_page{
            &_number{
              padding: 7px 13px;
              font-family: Roboto, sans-serif;
              color: #c0c0c0;
              font-size: 16px;
              margin: 0 5px 0 5px;
              border-radius: 5px;
              text-decoration: none;
            }
          }
        }
      }

      .bx-wrapper{
        box-shadow: none !important;
        border: none;
        background-color: #f0f0f0;
        margin-bottom: 0;
      }
    }
  }

  .footer {
    width: 100%;
    display: block;
    padding-bottom: 20px;

    &__wrapper {
      @include wrapper;

      &_menu {
        display: inline-block;
        padding:0 20px;

        &_sections {
          display: block;
          margin-right: 50px;
          vertical-align: top;
          margin-top: 6px;
          font-family: $font;
          font-size: 14px;
          font-weight: 500;
          color: #777777;
          cursor: pointer;
          transition: .3s;
          &:hover{
            transition: .3s;
            color: #333333;
          }
        }
      }

      &_copy{
        font-family: $font;
        font-size: 12px;
        font-weight: 300;
        color: #777777;
        padding:0 20px;
      }
    }
  }

  .bx-controls-direction{
    display: none !important;
  }

  .bx-viewport{
    height: auto !important;
  }

  #ranged-value{
    padding: 32px 0 10px 0;
    display: block !important;
    margin: 0 !important;
    &:before{
      margin: -20px 0 0 0px !important;
      font-size: 12px;
      color: gray;
    }
  }

  .arrow-top{
    bottom: 50px;
    right: 20px;
    display: none;
  }


}



/************************************ Range Slider ******************************************************/


#ranged-value{
  width: 200px !important;
  margin: -30px 0 0 160px;
  display: inline-flex;
  vertical-align: bottom;

  &:before{
    content:"Возраст";
    font-family: $font;
    position: absolute;
    margin: 0 0 0 -72px;
  }
}

.fsslider {
  position: relative;
  mn-width: 150px;
  height: 24px;
  display: inline-block;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:#000;
}

.fsslider{
  text-align: center;
  line-height: 24px;
  font-size: 11px;
  font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
}

.fsslider > *{
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.fsslider > .fsfull-value, .fsslider > .fssel-value {
  margin-top: -1px;
  height: 1px;
  left: 0;
  right: 0;

}

.fsslider > .fsfull-value {
  width: 100%;
  background: #d8d8d8;

}

.fsslider > .fssel-left, .fsslider > .fssel-right, .fsslider > .fscaret {
  background: #fff;
  height: 100%;
  min-width: 30px;
  top: 20px;
  font-family: $font;
}

.fss-left{
  &:before{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin: -13px 0 0 9px;
    background-color: #366cf7;
  }
}

.fss-right{
  &:before{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin: -13px 0 0 8px;
    background-color: #366cf7;
  }
}

.fsslider > .fssel-value {
  /*background: #ff7c19;*/
  background: $blue-color;
  height: 1px;
  right: 50%;
}


.fsslider.fsdisabled {
  color:#c8c8c8;
}

.fsslider.fsdisabled > .fssel-value {
  background: #c8c8c8;
}



