@charset "UTF-8";
/************************************* Desctop Version ***************************************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
.header {
  width: 100%;
  display: block;
  padding-bottom: 20px; }
  .header__wrapper {
    display: block;
    margin: auto;
    width: 1170px; }
    .header__wrapper_menu {
      display: inline-block; }
      .header__wrapper_menu_logo {
        display: inline-block;
        margin-right: 15px;
        cursor: pointer; }
      .header__wrapper_menu_sections {
        display: inline-block;
        margin-left: 12px;
        vertical-align: top;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        cursor: pointer;
        transition: .3s; }
        .header__wrapper_menu_sections:hover {
          opacity: 0.7;
          transition: .3s; }
    .header__wrapper_account {
      display: inline-block;
      float: right;
      margin: 0 0 0 12px;
      vertical-align: top;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #333333; }
      .header__wrapper_account_button {
        display: inline-block;
        margin-left: 12px;
        vertical-align: top;
        margin-top: 6px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        cursor: default; }
        .header__wrapper_account_button .info-icon {
          margin: 4px 0 0 8px;
          position: absolute; }
      .header__wrapper_account .subscription {
        margin: 6px 21px 0 0; }
      .header__wrapper_account .credits {
        color: #366cf7; }
      .header__wrapper_account .avatar {
        margin: 0 0 0 17px;
        transition: .3s;
        cursor: pointer; }
        .header__wrapper_account .avatar:hover {
          opacity: 0.7;
          transition: .3s; }

.photo-line {
  width: 100%;
  padding: 20px 0;
  background-color: #f0f0f0; }
  .photo-line__wrapper {
    display: block;
    margin: auto;
    width: 1170px; }
    .photo-line__wrapper_img {
      display: inline-block;
      vertical-align: top;
      margin: 10px 0 10px 2px;
      cursor: pointer; }

.search {
  width: 100%;
  padding: 20px 0; }
  .search__line {
    display: block;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    position: absolute;
    margin: -30px 0;
    z-index: -1; }
  .search__wrapper {
    display: block;
    margin: auto;
    width: 1170px; }
    .search__wrapper_heading {
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      color: #333333;
      text-align: center;
      line-height: 40px;
      font-weight: 500; }
    .search__wrapper_filters {
      padding: 30px 0; }
      .search__wrapper_filters .mobile-serch-filters {
        display: inline-block; }
      .search__wrapper_filters_gender {
        width: 190px !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-radius: 0 !important;
        outline: none !important;
        border-bottom: 3px solid #f2f2f2 !important;
        color: #333333 !important;
        background-color: #fff !important;
        appearance: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        font-size: 16px !important;
        height: 35px;
        cursor: pointer !important;
        background-repeat: no-repeat !important;
        background-image: url("../src/dating_arrow_down.png");
        background-position: right 14px;
        height: 38px;
        margin-right: 100px; }
      .search__wrapper_filters_city {
        width: 190px !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-radius: 0 !important;
        outline: none !important;
        border-bottom: 3px solid #f2f2f2 !important;
        color: #333333 !important;
        background-color: #fff !important;
        appearance: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        font-size: 16px !important;
        height: 35px;
        cursor: pointer !important;
        background-repeat: no-repeat !important;
        background-image: url("../src/dating-website-cross.png");
        background-position: right 14px;
        padding: 0; }
      .search__wrapper_filters_button {
        padding: 16px 55px;
        border-radius: 5px;
        background: -moz-linear-gradient(-45deg, #376cf8 0%, rgba(78, 146, 255, 0.8) 100%);
        background: -webkit-linear-gradient(-45deg, #376cf8 0%, rgba(78, 146, 255, 0.8) 100%);
        background: linear-gradient(135deg, #376cf8 0%, rgba(78, 146, 255, 0.8) 100%);
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        float: right;
        transition: 1s;
        cursor: pointer; }
        .search__wrapper_filters_button:hover {
          transition: 1s;
          background: linear-gradient(135deg, #376cf8 0%, #376cf8 100%); }
    .search__wrapper_expanded {
      font-family: Roboto, sans-serif;
      font-size: 16px;
      text-align: center;
      margin: auto;
      width: 200px;
      padding: 20px 20px;
      background-color: #fff;
      z-index: 10; }
      .search__wrapper_expanded_arrow {
        margin: 0 0 0 20px; }

.online {
  width: 100%;
  background-color: #f0f0f0;
  padding: 40px 0; }
  .online__wrapper {
    display: block;
    margin: auto;
    width: 1170px; }
    .online__wrapper_options {
      display: inline-flex;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      border: 1px solid #366cf7;
      border-radius: 5px;
      color: #366cf7;
      margin: 0 0 40px 19px;
      cursor: pointer; }
      .online__wrapper_options_active {
        padding: 3px 27px; }
        .online__wrapper_options_active:hover {
          opacity: .8; }
      .online__wrapper_options_new {
        padding: 3px 27px;
        border-left: 1px solid;
        border-right: 1px solid; }
        .online__wrapper_options_new:hover {
          opacity: .8; }
      .online__wrapper_options_popular {
        padding: 3px 24px; }
        .online__wrapper_options_popular:hover {
          opacity: .8; }
    .online__wrapper .slider__slide {
      display: inline-block;
      border-radius: 10px; }
      .online__wrapper .slider__slide_profile {
        width: 270px;
        border-radius: 10px;
        display: inline-block;
        box-shadow: 0 1px 5px 2px #d7d7d7;
        margin: 0 0 20px 20px; }
        .online__wrapper .slider__slide_profile .absolute .profile-photos {
          display: block;
          background: rgba(0, 0, 0, 0.41);
          border-radius: 6px;
          padding: 6px 10px;
          margin-top: 20px;
          margin-left: 17px;
          min-width: 38px;
          transition: .3s; }
          .online__wrapper .slider__slide_profile .absolute .profile-photos:hover {
            background: rgba(10, 10, 10, 0.76);
            transition: .3s; }
          .online__wrapper .slider__slide_profile .absolute .profile-photos__icon {
            max-width: 100%;
            display: inline-flex;
            margin: 0 6px 0 0; }
          .online__wrapper .slider__slide_profile .absolute .profile-photos__number {
            display: inline-flex;
            vertical-align: top;
            color: #fff;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            padding: 0;
            margin: 0; }
        .online__wrapper .slider__slide_profile .absolute .profile-rating {
          position: absolute;
          background: #ff1e6c;
          border-radius: 6px;
          padding: 6px 10px;
          top: 20px;
          left: 200px;
          min-width: 30px;
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          color: #fff;
          margin: 0; }
        .online__wrapper .slider__slide_profile_action {
          background: -moz-linear-gradient(-45deg, #376cf8 0%, #4e92ff 100%);
          background: -webkit-linear-gradient(-45deg, #376cf8 0%, #4e92ff 100%);
          background: linear-gradient(135deg, #376cf8 0%, #4e92ff 100%); }
          .online__wrapper .slider__slide_profile_action .favorite {
            display: inline-flex;
            width: 50%;
            transition: .4s; }
            .online__wrapper .slider__slide_profile_action .favorite:hover {
              background-color: #366cf7;
              transition: .4s; }
            .online__wrapper .slider__slide_profile_action .favorite__content {
              color: #fff;
              font-size: 14px;
              font-family: "Roboto", sans-serif;
              display: inline-block;
              vertical-align: top;
              padding: 15px 15px 15px 15px; }
              .online__wrapper .slider__slide_profile_action .favorite__content .star {
                display: inline-block;
                margin: 0 6px 0 0;
                width: 19px;
                height: 18px;
                background-image: url("../src/dating-empty-star-icon.png"); }
              .online__wrapper .slider__slide_profile_action .favorite__content .mail {
                display: inline-block;
                margin: 0 6px 0 0; }
              .online__wrapper .slider__slide_profile_action .favorite__content .send {
                line-height: 16px;
                vertical-align: top; }
              .online__wrapper .slider__slide_profile_action .favorite__content .selected {
                line-height: 20px;
                vertical-align: top; }
          .online__wrapper .slider__slide_profile_action .message {
            display: inline-flex;
            width: 48%;
            border-left: 1px solid #7aa4fc;
            transition: .2s;
            padding: 2px; }
            .online__wrapper .slider__slide_profile_action .message:hover {
              background-color: #366cf7;
              transition: .2s; }
        .online__wrapper .slider__slide_profile_details .name-age {
          padding: 0 0 0 20px;
          font-size: 18px;
          font-family: "Roboto", sans-serif;
          color: #366cf7;
          margin: 12px 0 6px 0;
          display: inline-flex; }
        .online__wrapper .slider__slide_profile_details .online-indicator {
          display: inline-flex;
          vertical-align: top;
          height: 10px;
          width: 10px;
          background: #01f501;
          border-radius: 50%;
          margin: 20px 0 0 10px; }
        .online__wrapper .slider__slide_profile_details .city-country {
          padding: 0 0 0 20px;
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          color: #333333;
          margin: 0 0 12px 0; }
    .online__wrapper .bx-pager {
      margin: auto;
      width: 360px; }
      .online__wrapper .bx-pager__wrapper {
        list-style-type: none;
        display: inline-flex;
        padding: 13px 44px;
        border-radius: 5px;
        background: #fff; }
        .online__wrapper .bx-pager__wrapper_page_number {
          padding: 7px 13px;
          font-family: Roboto, sans-serif;
          color: #c0c0c0;
          font-size: 16px;
          margin-right: 10px;
          border-radius: 5px;
          text-decoration: none; }
    .online__wrapper .bx-wrapper {
      box-shadow: none !important;
      border: none;
      background-color: #f0f0f0;
      margin-bottom: 0; }

.footer {
  width: 100%;
  display: block;
  padding-bottom: 20px; }
  .footer__wrapper {
    display: block;
    margin: auto;
    width: 1170px; }
    .footer__wrapper_menu {
      display: inline-block; }
      .footer__wrapper_menu_sections {
        display: inline-block;
        margin-right: 50px;
        vertical-align: top;
        margin-top: 6px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #777777;
        cursor: pointer;
        transition: .3s; }
        .footer__wrapper_menu_sections:hover {
          transition: .3s;
          color: #333333; }
    .footer__wrapper_copy {
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: 300;
      color: #777777; }

ul {
  padding: 0; }

.absolute {
  position: absolute; }

.bx-loading {
  display: none !important; }

.active {
  background-color: #366cf7;
  color: #fff !important; }

.bx-viewport {
  height: auto !important; }

.bx-controls {
  position: absolute; }
  .bx-controls .bx-controls-direction {
    position: absolute;
    left: 578px;
    top: 40px; }
    .bx-controls .bx-controls-direction .bx-prev {
      background: url("../src/arrow-gray.png");
      background-repeat: no-repeat;
      background-position: center !important;
      left: -166px; }
      .bx-controls .bx-controls-direction .bx-prev:hover {
        background-position: center; }
    .bx-controls .bx-controls-direction .bx-next {
      background: url("../src/arrow-gray.png");
      background-repeat: no-repeat;
      background-position: center !important;
      transform: rotate(180deg);
      left: 144px;
      text-indent: 0;
      color: transparent; }
      .bx-controls .bx-controls-direction .bx-next:hover {
        background-position: center; }

.active-option-button {
  background: #366cf7;
  color: #fff; }

.inactive-option-button {
  background: #fff;
  color: #366cf7; }

body {
  cursor: default;
  margin: 0px;
  padding: 0px;
  border: 0px; }

.mobile-menu-wrapper {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 0; }

.gold-star {
  background-image: url("../src/dating-gold-star.png") !important; }

.arrow-top {
  bottom: 270px;
  right: 50px;
  position: fixed; }

/************************************* Responsive Mode Tablet  ***************************************************/
@media screen and (max-width: 1170px) and (min-width: 600px) {
  .header__wrapper {
    display: block;
    width: 100%; }
    .header__wrapper_menu {
      display: inline-block;
      padding: 0 0 0 20px; }
      .header__wrapper_menu_sections {
        display: block;
        padding: 7px 0; }
      .header__wrapper_menu_logo {
        vertical-align: top; }
      .header__wrapper_menu .mobile-menu-wrapper {
        width: 40px;
        height: 40px;
        background-image: url("../src/dating_arrow_down.png");
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        margin: -3px 0 0 -18px; }
        .header__wrapper_menu .mobile-menu-wrapper:active .mobile-dropdown {
          display: block;
          transition: 9s; }
        .header__wrapper_menu .mobile-menu-wrapper:hover .mobile-dropdown {
          display: block;
          transition: 9s; }
        .header__wrapper_menu .mobile-menu-wrapper .mobile-dropdown {
          display: none;
          width: 200px;
          margin: 40px 0 0 13px;
          transition: 9s;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0px 0px 9px 3px #f2f2f2;
          padding: 10px;
          z-index: 200;
          position: relative; }
    .header__wrapper_account {
      padding: 0 20px 0 0; }
  .photo-line {
    width: 100%;
    padding: 20px 0;
    background-color: #f0f0f0; }
    .photo-line__wrapper {
      display: block;
      width: 100%; }
      .photo-line__wrapper .mobile-photo-line {
        display: block;
        padding: 0 20px;
        text-align: center;
        margin: auto;
        width: fit-content; }
      .photo-line__wrapper_img {
        display: inline-block;
        vertical-align: top;
        margin: 10px 2px 0 2px;
        cursor: pointer;
        max-width: 100px; }
  .search {
    width: 100%;
    padding: 20px 0; }
    .search__line {
      display: block;
      border-bottom: 1px solid #dcdcdc;
      width: 100%;
      position: absolute;
      margin: -30px 0;
      z-index: -1; }
    .search__wrapper {
      display: block;
      width: 100%; }
      .search__wrapper_heading {
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        color: #333333;
        text-align: center;
        line-height: 40px;
        font-weight: 500; }
      .search__wrapper_filters {
        padding: 30px 20px; }
        .search__wrapper_filters .mobile-serch-filters {
          display: block;
          margin: auto;
          width: fit-content; }
        .search__wrapper_filters_gender {
          width: 190px !important;
          border-top: none !important;
          border-left: none !important;
          border-right: none !important;
          border-radius: 0 !important;
          outline: none !important;
          border-bottom: 3px solid #f2f2f2 !important;
          color: #333333 !important;
          background-color: #fff !important;
          appearance: none !important;
          -webkit-appearance: none !important;
          -moz-appearance: none !important;
          font-size: 16px !important;
          height: 35px;
          cursor: pointer !important;
          background-repeat: no-repeat !important;
          background-image: url("../src/dating_arrow_down.png");
          background-position: right 14px;
          height: 38px;
          margin-right: 100px; }
        .search__wrapper_filters_city {
          width: 190px !important;
          border-top: none !important;
          border-left: none !important;
          border-right: none !important;
          border-radius: 0 !important;
          outline: none !important;
          border-bottom: 3px solid #f2f2f2 !important;
          color: #333333 !important;
          background-color: #fff !important;
          appearance: none !important;
          -webkit-appearance: none !important;
          -moz-appearance: none !important;
          font-size: 16px !important;
          height: 35px;
          cursor: pointer !important;
          background-repeat: no-repeat !important;
          padding: 0; }
        .search__wrapper_filters_button {
          padding: 16px 55px;
          border-radius: 5px;
          background: -moz-linear-gradient(-45deg, #376cf8 0%, rgba(78, 146, 255, 0.8) 100%);
          background: -webkit-linear-gradient(-45deg, #376cf8 0%, rgba(78, 146, 255, 0.8) 100%);
          background: linear-gradient(135deg, #376cf8 0%, rgba(78, 146, 255, 0.8) 100%);
          color: #fff;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          transition: 1s;
          cursor: pointer;
          display: block;
          margin: 30px auto;
          float: none;
          width: 135px;
          text-align: center; }
          .search__wrapper_filters_button:hover {
            transition: 1s;
            background: linear-gradient(135deg, #376cf8 0%, #376cf8 100%); }
          .search__wrapper_filters_button:active {
            transition: 1s;
            background: linear-gradient(135deg, #376cf8 0%, #376cf8 100%); }
      .search__wrapper_expanded {
        font-family: Roboto, sans-serif;
        font-size: 16px;
        text-align: center;
        margin: auto;
        width: 200px;
        padding: 20px 20px;
        background-color: #fff;
        z-index: 10; }
        .search__wrapper_expanded_arrow {
          margin: 0 0 0 20px; }
  .online {
    width: 100%;
    background-color: #f0f0f0;
    padding: 40px 0; }
    .online__wrapper {
      display: block;
      width: 100%; }
      .online__wrapper_options {
        display: inline-flex;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        border: 1px solid #366cf7;
        border-radius: 5px;
        color: #366cf7;
        margin: 0 0 40px 19px;
        cursor: pointer; }
        .online__wrapper_options_active {
          padding: 3px 27px; }
          .online__wrapper_options_active:hover {
            opacity: .8; }
        .online__wrapper_options_new {
          padding: 3px 27px;
          border-left: 1px solid;
          border-right: 1px solid; }
          .online__wrapper_options_new:hover {
            opacity: .8; }
        .online__wrapper_options_popular {
          padding: 3px 24px; }
          .online__wrapper_options_popular:hover {
            opacity: .8; }
      .online__wrapper .slider__slide {
        display: inline-block;
        border-radius: 10px; }
        .online__wrapper .slider__slide .slide-wrapper {
          display: block;
          margin: auto;
          text-align: center; }
        .online__wrapper .slider__slide_profile {
          width: 270px;
          border-radius: 10px;
          display: inline-block;
          box-shadow: 0 1px 5px 2px #d7d7d7;
          margin: 0 7px 20px 7px; }
          .online__wrapper .slider__slide_profile .absolute .profile-photos {
            display: block;
            background: rgba(0, 0, 0, 0.41);
            border-radius: 6px;
            padding: 6px 10px;
            margin-top: 20px;
            margin-left: 17px;
            min-width: 38px;
            transition: .3s; }
            .online__wrapper .slider__slide_profile .absolute .profile-photos:hover {
              background: rgba(10, 10, 10, 0.76);
              transition: .3s; }
            .online__wrapper .slider__slide_profile .absolute .profile-photos__icon {
              max-width: 100%;
              display: inline-flex;
              margin: 0 6px 0 0; }
            .online__wrapper .slider__slide_profile .absolute .profile-photos__number {
              display: inline-flex;
              vertical-align: top;
              color: #fff;
              font-size: 14px;
              font-family: "Roboto", sans-serif;
              padding: 0;
              margin: 0; }
          .online__wrapper .slider__slide_profile .absolute .profile-rating {
            position: absolute;
            background: #ff1e6c;
            border-radius: 6px;
            padding: 6px 10px;
            top: 20px;
            left: 200px;
            min-width: 30px;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: #fff;
            margin: 0; }
          .online__wrapper .slider__slide_profile_action {
            background: -moz-linear-gradient(-45deg, #376cf8 0%, #4e92ff 100%);
            background: -webkit-linear-gradient(-45deg, #376cf8 0%, #4e92ff 100%);
            background: linear-gradient(135deg, #376cf8 0%, #4e92ff 100%); }
            .online__wrapper .slider__slide_profile_action .favorite {
              display: inline-flex;
              width: 50%;
              transition: .4s; }
              .online__wrapper .slider__slide_profile_action .favorite:hover {
                background-color: #366cf7;
                transition: .4s; }
              .online__wrapper .slider__slide_profile_action .favorite__content {
                color: #fff;
                font-size: 14px;
                font-family: "Roboto", sans-serif;
                display: inline-block;
                vertical-align: top;
                padding: 15px 15px 15px 15px; }
                .online__wrapper .slider__slide_profile_action .favorite__content .star {
                  display: inline-block;
                  margin: 0 6px 0 0; }
                .online__wrapper .slider__slide_profile_action .favorite__content .mail {
                  display: inline-block;
                  margin: 0 6px 0 0; }
                .online__wrapper .slider__slide_profile_action .favorite__content .send {
                  line-height: 16px;
                  vertical-align: top; }
                .online__wrapper .slider__slide_profile_action .favorite__content .selected {
                  line-height: 20px;
                  vertical-align: top; }
            .online__wrapper .slider__slide_profile_action .message {
              display: inline-flex;
              width: 48%;
              border-left: 1px solid #7aa4fc;
              transition: .2s;
              padding: 2px; }
              .online__wrapper .slider__slide_profile_action .message:hover {
                background-color: #366cf7;
                transition: .2s; }
          .online__wrapper .slider__slide_profile_details {
            text-align: left !important; }
            .online__wrapper .slider__slide_profile_details .name-age {
              padding: 0 0 0 20px;
              font-size: 18px;
              font-family: "Roboto", sans-serif;
              color: #366cf7;
              margin: 12px 0 6px 0;
              display: inline-flex; }
            .online__wrapper .slider__slide_profile_details .online-indicator {
              display: inline-flex;
              vertical-align: top;
              height: 10px;
              width: 10px;
              background: #01f501;
              border-radius: 50%;
              margin: 20px 0 0 10px; }
            .online__wrapper .slider__slide_profile_details .city-country {
              padding: 0 0 0 20px;
              font-size: 14px;
              font-family: "Roboto", sans-serif;
              color: #333333;
              margin: 0 0 12px 0; }
      .online__wrapper .bx-pager {
        margin: auto;
        width: 300px; }
        .online__wrapper .bx-pager__wrapper {
          list-style-type: none;
          display: inline-flex;
          padding: 13px 13px;
          border-radius: 5px;
          background: #fff; }
          .online__wrapper .bx-pager__wrapper_page_number {
            padding: 7px 13px;
            font-family: Roboto, sans-serif;
            color: #c0c0c0;
            font-size: 16px;
            margin: 0 5px 0 5px;
            border-radius: 5px;
            text-decoration: none; }
      .online__wrapper .bx-wrapper {
        box-shadow: none !important;
        border: none;
        background-color: #f0f0f0;
        margin-bottom: 0; }
  .footer {
    width: 100%;
    display: block;
    padding-bottom: 20px; }
    .footer__wrapper {
      display: block;
      width: 100%; }
      .footer__wrapper_menu {
        display: inline-block;
        padding: 0 20px; }
        .footer__wrapper_menu_sections {
          display: inline-block;
          margin-right: 50px;
          vertical-align: top;
          margin-top: 6px;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 500;
          color: #777777;
          cursor: pointer;
          transition: .3s; }
          .footer__wrapper_menu_sections:hover {
            transition: .3s;
            color: #333333; }
      .footer__wrapper_copy {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 300;
        color: #777777;
        padding: 0 20px; }
  .bx-controls-direction {
    display: none !important; }
  .bx-viewport {
    height: auto !important; }
  #ranged-value {
    padding: 32px 0 10px 0;
    display: block !important;
    margin: 0 !important; }
    #ranged-value:before {
      margin: -20px 0 0 0px !important;
      font-size: 12px;
      color: gray; } }

/************************************* Responsive Mode Mobile  ***************************************************/
@media screen and (max-width: 599px) and (min-width: 320px) {
  .header__wrapper {
    display: block;
    width: 100%; }
    .header__wrapper_menu {
      display: inline-block;
      padding: 0 0 0 20px; }
      .header__wrapper_menu_sections {
        display: block;
        padding: 7px 0; }
      .header__wrapper_menu_logo {
        vertical-align: top; }
        .header__wrapper_menu_logo .logo {
          margin-top: 6px;
          width: 130px; }
      .header__wrapper_menu .mobile-menu-wrapper {
        width: 40px;
        height: 40px;
        background-image: url("../src/dating_arrow_down.png");
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        margin: -3px 0 0 -18px; }
        .header__wrapper_menu .mobile-menu-wrapper:active .mobile-dropdown {
          display: block;
          transition: 9s; }
        .header__wrapper_menu .mobile-menu-wrapper:hover .mobile-dropdown {
          display: block;
          transition: 9s; }
        .header__wrapper_menu .mobile-menu-wrapper .mobile-dropdown {
          display: none;
          width: 200px;
          margin: 40px 0 0 -100px;
          transition: 9s;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0px 0px 9px 3px #f2f2f2;
          padding: 10px;
          z-index: 200;
          position: relative; }
    .header__wrapper_account {
      padding: 0 20px 0 0; }
      .header__wrapper_account_button .info-icon {
        display: none; }
      .header__wrapper_account .subscription {
        display: none; }
      .header__wrapper_account .credits {
        display: none; }
  .photo-line {
    width: 100%;
    padding: 20px 0;
    background-color: #f0f0f0; }
    .photo-line__wrapper {
      display: block;
      width: 100%; }
      .photo-line__wrapper .mobile-photo-line {
        display: block;
        text-align: center;
        margin: auto; }
      .photo-line__wrapper_img {
        display: inline-block;
        vertical-align: top;
        margin: 10px 2px 0 2px;
        cursor: pointer;
        width: 100px; }
  .search__wrapper {
    display: block;
    width: 100%; }
    .search__wrapper_filters {
      padding: 0 20px; }
      .search__wrapper_filters .mobile-serch-filters {
        display: block;
        margin: auto;
        width: 200px; }
      .search__wrapper_filters_gender {
        width: 190px !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-radius: 0 !important;
        outline: none !important;
        border-bottom: 3px solid #f2f2f2 !important;
        color: #333333 !important;
        background-color: #fff !important;
        appearance: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        font-size: 16px !important;
        height: 35px;
        cursor: pointer !important;
        background-repeat: no-repeat !important;
        margin: 15px 0;
        display: block; }
      .search__wrapper_filters_city {
        width: 190px !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-radius: 0 !important;
        outline: none !important;
        border-bottom: 3px solid #f2f2f2 !important;
        color: #333333 !important;
        background-color: #fff !important;
        appearance: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        font-size: 16px !important;
        height: 35px;
        cursor: pointer !important;
        background-repeat: no-repeat !important;
        padding: 0;
        display: block; }
      .search__wrapper_filters_button {
        display: block;
        margin: 30px auto;
        float: none;
        width: 135px;
        text-align: center; }
  .online {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px 0 40px 0; }
    .online__wrapper {
      display: block;
      width: 100%; }
      .online__wrapper_options {
        display: flex;
        width: 263px;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        border: 1px solid #366cf7;
        border-radius: 5px;
        color: #366cf7;
        margin: 20px auto;
        cursor: pointer; }
        .online__wrapper_options_active {
          padding: 3px 10px; }
          .online__wrapper_options_active:hover {
            opacity: .8; }
        .online__wrapper_options_new {
          padding: 3px 10px;
          border-left: 1px solid;
          border-right: 1px solid; }
          .online__wrapper_options_new:hover {
            opacity: .8; }
        .online__wrapper_options_popular {
          padding: 3px 10px; }
          .online__wrapper_options_popular:hover {
            opacity: .8; }
      .online__wrapper .slider__slide {
        display: inline-block;
        border-radius: 10px; }
        .online__wrapper .slider__slide .slide-wrapper {
          display: block;
          margin: auto;
          text-align: center; }
        .online__wrapper .slider__slide_profile {
          width: 270px;
          border-radius: 10px;
          display: inline-block;
          box-shadow: 0 1px 5px 2px #d7d7d7;
          margin: 0 7px 20px 7px; }
          .online__wrapper .slider__slide_profile .absolute .profile-photos {
            display: block;
            background: rgba(0, 0, 0, 0.41);
            border-radius: 6px;
            padding: 6px 10px;
            margin-top: 20px;
            margin-left: 17px;
            min-width: 38px;
            transition: .3s; }
            .online__wrapper .slider__slide_profile .absolute .profile-photos:hover {
              background: rgba(10, 10, 10, 0.76);
              transition: .3s; }
            .online__wrapper .slider__slide_profile .absolute .profile-photos__icon {
              max-width: 100%;
              display: inline-flex;
              margin: 0 6px 0 0; }
            .online__wrapper .slider__slide_profile .absolute .profile-photos__number {
              display: inline-flex;
              vertical-align: top;
              color: #fff;
              font-size: 14px;
              font-family: "Roboto", sans-serif;
              padding: 0;
              margin: 0; }
          .online__wrapper .slider__slide_profile .absolute .profile-rating {
            position: absolute;
            background: #ff1e6c;
            border-radius: 6px;
            padding: 6px 10px;
            top: 20px;
            left: 200px;
            min-width: 30px;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: #fff;
            margin: 0; }
          .online__wrapper .slider__slide_profile_action {
            background: -moz-linear-gradient(-45deg, #376cf8 0%, #4e92ff 100%);
            background: -webkit-linear-gradient(-45deg, #376cf8 0%, #4e92ff 100%);
            background: linear-gradient(135deg, #376cf8 0%, #4e92ff 100%); }
            .online__wrapper .slider__slide_profile_action .favorite {
              display: inline-flex;
              width: 50%;
              transition: .4s; }
              .online__wrapper .slider__slide_profile_action .favorite:hover {
                background-color: #366cf7;
                transition: .4s; }
              .online__wrapper .slider__slide_profile_action .favorite__content {
                color: #fff;
                font-size: 14px;
                font-family: "Roboto", sans-serif;
                display: inline-block;
                vertical-align: top;
                padding: 15px 15px 15px 15px; }
                .online__wrapper .slider__slide_profile_action .favorite__content .star {
                  display: inline-block;
                  margin: 0 6px 0 0; }
                .online__wrapper .slider__slide_profile_action .favorite__content .mail {
                  display: inline-block;
                  margin: 0 6px 0 0; }
                .online__wrapper .slider__slide_profile_action .favorite__content .send {
                  line-height: 16px;
                  vertical-align: top; }
                .online__wrapper .slider__slide_profile_action .favorite__content .selected {
                  line-height: 20px;
                  vertical-align: top; }
            .online__wrapper .slider__slide_profile_action .message {
              display: inline-flex;
              width: 48%;
              border-left: 1px solid #7aa4fc;
              transition: .2s;
              padding: 2px; }
              .online__wrapper .slider__slide_profile_action .message:hover {
                background-color: #366cf7;
                transition: .2s; }
          .online__wrapper .slider__slide_profile_details {
            text-align: left !important; }
            .online__wrapper .slider__slide_profile_details .name-age {
              padding: 0 0 0 20px;
              font-size: 18px;
              font-family: "Roboto", sans-serif;
              color: #366cf7;
              margin: 12px 0 6px 0;
              display: inline-flex; }
            .online__wrapper .slider__slide_profile_details .online-indicator {
              display: inline-flex;
              vertical-align: top;
              height: 10px;
              width: 10px;
              background: #01f501;
              border-radius: 50%;
              margin: 20px 0 0 10px; }
            .online__wrapper .slider__slide_profile_details .city-country {
              padding: 0 0 0 20px;
              font-size: 14px;
              font-family: "Roboto", sans-serif;
              color: #333333;
              margin: 0 0 12px 0; }
      .online__wrapper .bx-pager {
        margin: auto;
        width: 300px; }
        .online__wrapper .bx-pager__wrapper {
          list-style-type: none;
          display: inline-flex;
          padding: 13px 13px;
          border-radius: 5px;
          background: #fff; }
          .online__wrapper .bx-pager__wrapper_page_number {
            padding: 7px 13px;
            font-family: Roboto, sans-serif;
            color: #c0c0c0;
            font-size: 16px;
            margin: 0 5px 0 5px;
            border-radius: 5px;
            text-decoration: none; }
      .online__wrapper .bx-wrapper {
        box-shadow: none !important;
        border: none;
        background-color: #f0f0f0;
        margin-bottom: 0; }
  .footer {
    width: 100%;
    display: block;
    padding-bottom: 20px; }
    .footer__wrapper {
      display: block;
      width: 100%; }
      .footer__wrapper_menu {
        display: inline-block;
        padding: 0 20px; }
        .footer__wrapper_menu_sections {
          display: block;
          margin-right: 50px;
          vertical-align: top;
          margin-top: 6px;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 500;
          color: #777777;
          cursor: pointer;
          transition: .3s; }
          .footer__wrapper_menu_sections:hover {
            transition: .3s;
            color: #333333; }
      .footer__wrapper_copy {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 300;
        color: #777777;
        padding: 0 20px; }
  .bx-controls-direction {
    display: none !important; }
  .bx-viewport {
    height: auto !important; }
  #ranged-value {
    padding: 32px 0 10px 0;
    display: block !important;
    margin: 0 !important; }
    #ranged-value:before {
      margin: -20px 0 0 0px !important;
      font-size: 12px;
      color: gray; }
  .arrow-top {
    bottom: 50px;
    right: 20px; } }

/************************************ Range Slider ******************************************************/
#ranged-value {
  width: 200px !important;
  margin: -30px 0 0 160px;
  display: inline-flex;
  vertical-align: bottom; }
  #ranged-value:before {
    content: "Возраст";
    font-family: "Roboto", sans-serif;
    position: absolute;
    margin: 0 0 0 -72px; }

.fsslider {
  position: relative;
  mn-width: 150px;
  height: 24px;
  display: inline-block;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000; }

.fsslider {
  text-align: center;
  line-height: 24px;
  font-size: 11px;
  font-family: "Lucida Grande", "Trebuchet MS", sans-serif; }

.fsslider > * {
  position: absolute;
  top: 50%;
  cursor: pointer; }

.fsslider > .fsfull-value, .fsslider > .fssel-value {
  margin-top: -1px;
  height: 1px;
  left: 0;
  right: 0; }

.fsslider > .fsfull-value {
  width: 100%;
  background: #d8d8d8; }

.fsslider > .fssel-left, .fsslider > .fssel-right, .fsslider > .fscaret {
  background: #fff;
  height: 100%;
  min-width: 30px;
  top: 20px;
  font-family: "Roboto", sans-serif; }

.fss-left:before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  position: absolute;
  margin: -13px 0 0 9px;
  background-color: #366cf7; }

.fss-right:before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  position: absolute;
  margin: -13px 0 0 8px;
  background-color: #366cf7; }

.fsslider > .fssel-value {
  /*background: #ff7c19;*/
  background: #366cf7;
  height: 1px;
  right: 50%; }

.fsslider.fsdisabled {
  color: #c8c8c8; }

.fsslider.fsdisabled > .fssel-value {
  background: #c8c8c8; }
